<div class="chatbot-icon" (click)="toggleChatbox()">
  <button class="chatbot-img">
    <img *ngIf="!chatboxOpen" src="assets/file.png" alt="Chat Icon">
    <mat-icon *ngIf="chatboxOpen" class="expand-less">expand_less</mat-icon>
  </button>
</div>

<div class="chatbox" [ngClass]="{ open: chatboxOpen }">
    <div class="header">
      <h2>Smart Connect</h2>
      <div >
        <button (click)="onClickRefresh()">
          <mat-icon class="refresh-icon">refresh</mat-icon>
        </button>
      </div>
    </div>
    <app-conversation class="chatbox-conversation" [messages]="messages" (menuSelected)="handleMenuSelection($event)" (answerSelected)="handleAnswerSelection($event)"></app-conversation>
    <div class="footer">
      <app-prompt [userInput]="selectedAnswer" (textChange)="handlePromptChange($event)"></app-prompt>
    </div>
</div>
